[submodule "eaas-ansible"]
	path = eaas/ansible
	url = https://gitlab.com/eaasi/eaasi-ansible.git
[submodule "portal-ansible"]
	path = portal/ansible
	url = https://gitlab.com/eaasi/eaasi-portal-ansible.git
