---
host:
  build_dir: "/eaas-build"
  eaas_home: "/eaas-home"

docker:
  image: "eaas/eaas-appserver"
  port: 80

  # to enable SSL with custom certificate,
  # uncomment the following lines...
  #port: 443
  #ssl:
  #  enabled: true
  #  certificate: "./artifacts/ssl/server.crt"
  #  private_key: "./artifacts/ssl/server.key"

ui:
  git_branch: "eaasi-dev"
  http_auth:
    user: "eaasi"
    password: "demo"

eaas:
  git_branch: "eaasi-release-032019"
  enable_oaipmh_provider: true
